/*Page areas*/
/*
    website will consist of four areas
    -sidebar:   for navigation
    -header:    for page overview
    -content:   for page info
    -footer:    for page end features
     ___ _______
    |   |_______| <-header
    |   |       |
    |nav| info  |
    |   |_______|
    |___|_______| <-footer

    overview of site layout
*/
/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
    height: auto;
}

#wrapper-div {
    width: 100%;
    height: inherit;
}

#main-div {
    width: 100%;
    position: absolute;
}

#left-div {
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
}

.sidebar {
    background-color: black;
    list-style-type: none;
    text-align: center;
    line-height: 6em;
}

#right-div {
    width: 80%;
    height: inherit;
    float: right;
    position: relative;
}

.page-div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    background-color: deepskyblue;
    height: 10%;
}

.content {
    background-color: white;
    height: 80%;
}

.footer {
    background-color: deepskyblue;
    height: 10%;
    margin-top: auto;
}
*/